<!-- begin NAVBAR -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink=''>PunchStarter</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav">
        <li class="active"><a routerLink='project-list'>Projects <span class="sr-only">(current)</span></a></li>
        <li><a routerLink='idea-list'>Ideas</a></li>
        <li><a routerLink='charitable-list'>Charitable Acts</a></li>
        <li><a routerLink=''>Create a new PunchStarter!</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Admin</a></li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
