  <h1 class="center">Welcome to PunchStarter!</h1>
  <h2 class="center">Check out our current options below.</h2>
  <br>
  <div *ngFor="let array of punchStarters | async" >
    <div class="container">
      <div *ngFor="let entry of array" class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2>{{entry.name}}</h2>
          </div>
          <div class="panel-body">
            <h4>${{entry.pledged}} of ${{entry.target}} pledged</h4>
            <p>
              {{entry.shortInfo}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
